#bg {
    height: 100%;
    background: center url("../../../assets/images/bg.jpg") no-repeat ;
    filter: blur(4px);
}

ion-card {
    background-color: white;
}

#login-form {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    margin: auto;
}