<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-buttons>
      <ion-title>Détails historique</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content>
    <div id="bg"></div>
    <ion-card class="bg-content">
      <ion-card-header>
        <ion-card-title>
            Détails de l'achat
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
            <ion-item> <ion-label>Plat: Foufou sauce graine</ion-label> </ion-item>
            <ion-item> <ion-label>Prix: 1250 FF</ion-label> </ion-item>
            <ion-item> <ion-label>Date: 450 FF</ion-label> </ion-item>
            <ion-item> <ion-label>Lieu livré: Consommé sur place</ion-label> </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
    