<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Nos plats
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <div id="bg"></div>
      <div class="bg-content" >
        <ion-card *ngFor="let dish of menu | async">
          <ion-img src="{{dishes_image_address}}/{{dish.image}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{dish.nom}}</ion-card-title>
            <ion-card-subtitle>{{dish.prix}} Francs CFA</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              {{dish.description}}
            </p>
            <ion-row>
              <ion-col pull="-3">
                  <ion-button *ngIf="!commander" (click)="onCommander()">Commander <ion-icon name="pricetags" slot="end"></ion-icon> </ion-button>
              </ion-col>
              <ion-item  *ngIf="commander">
                <ion-label>Quantité: </ion-label>
              </ion-item>
              <ion-input [formControl]="qte" focused="focused" type="number" placeholder="x1, x2"></ion-input>
              <div class="error-qte" *ngIf="qte.invalid && (qte.dirty || qte.touched)">
                <div *ngIf="qte.errors.min">
                  La quantité minimum est "1"
                </div>
              </div>
              <ion-button *ngIf="commander" [disabled]="qte.invalid" (click)="addToCart(dish.id)">Valider <ion-icon name="pricetags" slot="end"></ion-icon> </ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </div>
  
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button routerLink="/wallet" color="secondary" *ngIf="toggled"> <ion-icon name="wallet"></ion-icon> </ion-fab-button>
            <ion-fab-button routerLink="/signup" color="secondary" *ngIf="toggled"> <ion-icon name="person-add"></ion-icon> </ion-fab-button>
            <ion-fab-button routerLink="/auth" routerLinkActive="router-link-active"  color="secondary" *ngIf="toggled"> <ion-icon name="log-in"></ion-icon> </ion-fab-button>
            <ion-fab-button color="secondary" (click)="onFab()"> <ion-icon [name]="default"></ion-icon> </ion-fab-button>
        </ion-fab> 
  </ion-content>
  