<ion-header>
<ion-toolbar color="primary">
  <ion-title>
    Au menu aujourd'hui
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="bg"></div>
  <div class="bg-content" >
    <ion-slides mode="md" pager="md" scrollbar="md">
      <ion-slide *ngFor="let dish of dishes | async">
        <ion-card>
          <ion-img src="{{dishes_image_address}}/{{dish.image}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{dish.nom}}</ion-card-title>
            <ion-card-subtitle>{{dish.prix}} Francs FCFA</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{dish.description}}</p>
            <ion-button *ngIf="!commander" (click)="onCommander()">Commander <ion-icon name="pricetags" slot="end"></ion-icon> </ion-button>
            <ion-item *ngIf="commander">
              <ion-label>Quantité: </ion-label>
              <ion-input [formControl]="qte" focused="focused" type="number" placeholder="x1, x2"></ion-input>
            </ion-item>
            <div class="error-qte" *ngIf="qte.invalid && (qte.dirty || qte.touched)">
              <div *ngIf="qte.errors.min">
                La quantité minimum est "1"
              </div>
            </div>
  
            <ion-button 
              *ngIf="commander" 
              [disabled]="qte.invalid"
              (click)="addToCart(dish.id)"
              >
              Valider <ion-icon name="pricetags" slot="end"></ion-icon> 
            </ion-button>
  
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/wallet" color="secondary" *ngIf="toggled"> <ion-icon name="wallet"></ion-icon> </ion-fab-button>
      <ion-fab-button routerLink="/signup" color="secondary" *ngIf="toggled"> <ion-icon name="person-add"></ion-icon> </ion-fab-button>
      <ion-fab-button routerLink="/auth" routerLinkActive="router-link-active"  color="secondary" *ngIf="toggled"> <ion-icon name="log-in"></ion-icon> </ion-fab-button>
      <ion-fab-button color="secondary" (click)="onFab()"> <ion-icon [name]="default"></ion-icon> </ion-fab-button>
  </ion-fab> 

</ion-content>
