<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
        </ion-buttons>
      <ion-title>Facture et Livraison</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>   
    
        <ion-item-divider>
            <ion-label>Total commande: </ion-label>
            <ion-item> {{cart_bill}} FF </ion-item>
        </ion-item-divider>
              
        <ion-item (click)="onEatHere()">
            <ion-label>Je mange sur place</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>

          <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">
            <ion-item-group *ngIf="deliver">
              <ion-item-divider>
                <ion-label>Lieu de livraison</ion-label>
              </ion-item-divider>

              <ion-item >
                <ion-label position="floating">Quartier:  <ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="street" required></ion-input>
              </ion-item>
        
              <ion-item >
                <ion-label>Lieu de livraison:  <ion-text color="danger">*</ion-text></ion-label>
                <ion-input formControlName="deliveryPlace" required></ion-input>
              </ion-item>
            </ion-item-group>    

            <!-- <ion-item-group>
              <ion-item-divider>
                <ion-label>Moyen de paiement</ion-label>
              </ion-item-divider>
              <ion-item>
                  <ion-label>Choisissez: </ion-label>
                  <ion-select formControlName="paymentMethod">
                    <ion-select-option value="flooz">Flooz</ion-select-option>
                    <ion-select-option value="tmoney">Tmoney</ion-select-option>
                  </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Numéro de téléphone</ion-label>
                <ion-input formControlName="transactionNumber" type="number"></ion-input>
              </ion-item>
            </ion-item-group> -->
    
            <ion-button block color="primary" type="submit" [disabled]="deliveryForm.invalid">
              Procéder
            </ion-button>
            
          </form>
    </ion-card-content>
  </ion-card>
</ion-content>
